[Unit]
Description = Mumble Client  
Requires = systemd-user-sessions.service network.target sound.target
After = multi-user.target

[Service]
User = cs  
Group =  
Type = simple  
ExecStart = /home/cs/bin/talkiepi -server 192.168.2.121:64738 -username TalkiePi -channel Test
Restart = always 
RestartSec = 20

[Install]
WantedBy = multi-user.target
